@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

:root{
    --font-geral: 'Noto Sans', sans-serif;
    --font-title: 'Poppins', sans-serif;
    --ff-primary: "Nunito", Helvetica, Arial, sans-serif;
    --ff-logo: "Brixton", sans-serif;
    --cor0: hsl(14, 45%, 13%);
    --cor1: hsl(45, 73%, 84%);
    --cor2: hsl(29, 54%, 48%);
    --cor3: hsl(16, 70%, 24%);
    --cor4: hsl(27, 76%, 43%);
    --clr-lighttest-brown: hsl(23, 30%, 53%);
    --clr-cream: hsl(45, 73%, 84%);
    --clr-white: hsl(0, 0%, 96%);
        
}

@font-face {
    font-family: "Brixton";
    src: url("attentica-ultralight.ttf") format('opentype');
} 

html {
    scroll-behavior: smooth;
}

/*********************** SECTION SOBRE **********************/
.sobre {
    margin-top: 3em;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3em;
}


.container-sobre {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: var(--clr-cream);
    
}

.info-sobre {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 2em;
    width: 50%;

}

.info-sobre p{
    font-family: var(--font-geral);
    font-weight: 400;
    line-height: 26px;
    color: black;
}

.info-sobre h2{
    font-family: var(--font-title);
    color: var(--cor0);
    font-weight: 500;
}

.img-sobre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    
}

.img-sobre img {
    width: 100%;
    object-fit: cover;
    opacity: 1;
}

/******************* FIM SECTION SOBRE ************************/

