@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

:root{
    --font-geral: 'Noto Sans', sans-serif;
    --font-title: 'Poppins', sans-serif;
    --ff-primary: "Nunito", Helvetica, Arial, sans-serif;
    --ff-logo: "Brixton", sans-serif;
    --cor0: hsl(14, 45%, 13%);
    --cor1: hsl(45, 73%, 84%);
    --cor2: hsl(29, 54%, 48%);
    --cor3: hsl(16, 70%, 24%);
    --cor4: hsl(27, 76%, 43%);
    --clr-lighttest-brown: hsl(23, 30%, 53%);
    --clr-cream: hsl(45, 73%, 84%);
    --clr-white: hsl(0, 0%, 96%);
    --clr-blue: hsl(237, 39%, 91%);
}

@font-face {
    font-family: "Brixton";
    src: url("attentica-ultralight.ttf") format('opentype');
} 

.tecnology{
    margin-top: 7em;
    padding-bottom: 3em;
}


.tecnology h1{
    text-align: center;
    padding-top: .6em;
    padding-bottom:.5em;
    font-family: var(--font-title);
    font-size: 2.6em;
    letter-spacing: .1em;
    font-weight: 600;
    color: black;
    text-shadow: .05em .05em .05em rgb(160, 160, 160);
}
.tecnologias{
    width: 100%;
    height: 30em;
    background-color: var(--cor0);
}

.container-tecnologia{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    box-shadow: .1em .1em .3em rgb(134, 130, 130);
}

.imagem-fundo-tecnologia{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    opacity: .45;
}

.imagem-fundo-tecnologia img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.info-tecnologia{
    position: absolute;
}

.info-tecnologia {
    width: 40em;
    
}

.info-tecnologia p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 3em;
    font-family: var(--font-geral);
    text-align: center;
    color: white;
    text-shadow: .1em .1em .2em black;
    font-size: 1.2em;
}


.btn-info-tecnologia{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    text-align: center;
    
    
}

.btn-info-tecnologia a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    color: white;
    background-color: rgb(19, 1, 48);
    border: .1em solid rgb(113, 87, 187);
    padding: .3em 1em;
    border-radius: .15em;
}

.btn-info-tecnologia a:hover{
    background-color: rgb(113, 87, 187);
    border: .1em solid rgb(19, 1, 48) ;
    color: rgb(19, 1, 48);
    font-weight: bold;
    transition: .2s ease-in-out;
}


.tecnologias-disp{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-blue);
    padding-bottom: 4em;
    box-shadow: .1em .1em .2em rgb(161, 161, 161);
    
}

.container-disponiveis{
    margin: 0 auto;
    display: flex;
    width: 100%;
    max-width: 1170px;
    flex-direction: column;
    justify-content: center;

}

.disponiveis{
    display: flex;
    width: 100%;
    max-width: 1170px;
    flex-wrap: wrap;
    justify-content:space-around;
    
}

.options-disp{
    height: 5em;
    border: 1px solid var(--cor0);
    padding: .3em;
    background-color: whitesmoke;
}

.options-disp img{
    height: 100%;
    
    
}

.container-pcs{
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}




.option-pc{
    width: 22em;
    display: flex;
    flex-direction: column;
    padding: .7em;
    margin: 1em 2em;
    background-color: whitesmoke;
    border-radius: .2em;
    border: .2em solid whitesmoke;
    box-shadow: .1em .15em .2em .1em rgb(161, 161, 161);
}

@keyframes zoom {0%

    {
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}

.option-pc:hover{
    border: .2em solid rgb(19, 1, 48);
    transition: all .1s ease-in-out;
}

.img-options {
    width: 22em;
    height: 15em;
    border-radius: 1em;
}


.img-options img{
    width: 100%;
    height: 100%;
    border-radius: 1em;
    object-fit: cover;
}

.descricao{
    margin-top: 3em;
    max-width: 1170px;
    
}

.caixas-desc{

    background-color: var(--clr-blue);
    
}


.descricao h2{
    width: 100%;
    font-family: var(--font-title) ;
    color: black;
    font-weight: 500;
    text-shadow: .1em .1em .1em rgb(179, 174, 174);
    letter-spacing: .1em;

}


.caixas-desc ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    
}

.caixas-desc li{
    padding: .3em;
    margin: .3em;
    border-radius: .1em;
    background-color: var(--clr-white);
    font-family: var(--font-geral);
    border: 1px solid var(--cor0);
    font-weight: 600;
    color: black;
}

.info-pcs{
    width: 22em;
    padding-top: .4em;
    padding-bottom: .4em;
}
.info-pcs p, span{
    font-family: var(--font-geral);
    color: black;
    font-size: 1.1em;
}

.info-pcs span{
    font-weight: bold;
}

.info-pcs sup{
    font-weight: 400;
}

.title-pcs{
    font-family: var(--font-title);
    color: black;
    font-size: 1.4em;
    font-weight: 500;
    
}

.reserva-button a {
    color: rgb(19, 1, 48);
    font-weight: 500;
    text-decoration: underline;
}

.reserva-button a:hover{

}
.opcao-pc-title{
    margin-top: 1em;
    letter-spacing: .1em;
    font-weight: 500;
}